@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #1c1c1c; /* Dark background for track */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ffd700; /* Gold color for scrollbar thumb */
  border-radius: 6px;
  border: 3px solid transparent; /* Adds padding around thumb */
  background-clip: content-box; /* Ensures the thumb color is within the padded area */
}

::-webkit-scrollbar-thumb:hover {
  background: #e6c200; /* Slightly darker gold on hover */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Hide scrollbar but keep scrolling functionality */
html,
body {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ffd700 #1c1c1c; /* Gold thumb and dark track for Firefox */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* NProgress styles */
#nprogress .bar {
  height: 4px !important;
  background: gold !important;
  z-index: 1031 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px gold, 0 0 5px gold !important;
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031 !important;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 36px !important;
  height: 36px !important;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: gold !important;
  border-left-color: gold !important;
  border-radius: 50%;
  animation: nprogress-spinner 400ms linear infinite;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
