@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d2d2d;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 4px;
}

.tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 10;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.2s, opacity 0.2s ease-in-out;
  opacity: 0;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#nprogress .bar {
  height: 4px !important;
  background: gold !important;
  z-index: 1031 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px gold, 0 0 5px gold !important;
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031 !important;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 36px !important;
  height: 36px !important;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: gold !important;
  border-left-color: gold !important;
  border-radius: 50%;
  animation: nprogress-spinner 400ms linear infinite;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
